body {
    height: 100vh;
    font-family: "Poppins", serif;
    background-color: rgb(255, 232, 168);
    color: #fff;
}

#homeContent {
    text-align: center;
    margin: 400px 0;
    text-shadow: 0 0 20px #ffffff80;
    letter-spacing: 5px;
    user-select: none;
}

#homeContent h1{
    font-size: 75px;
}

#homeContent h4{
    font-size: 30px;
}
