* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

#navbar {
    display: flex;
    padding: 30px 50px;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

#navbar img {
    background-color: rgb(85, 85, 85);
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

#button button {
    font-size: 20px;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
    letter-spacing: 3px;
    color: #fff;
    border: none;
    background-color: transparent;
    font-family: "Poppins", serif;
    padding: 0 40px;
}

#navbar button:hover {
    color: red;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000;
}

#icons {
    font-size: 50px;
    color: white;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons .icon.active {
    display: none;
}
